body{
    background-color:#ffff;
    position:relative;
    top:90px;
}
#name_link_header{
    font-size: 18px;
    font-weight:330;
    left:30px;
    position:relative;
    top:-40px;
    left:123px;
    color:black;

}
#contact-link_header{
    font-size: 18px;
    font-weight:330;
    position:relative;
    left:1058px;
    top:-30px;
    color:black;

}
.latter_big_center{
    font-size: 44px;
    font-weight:800;
    position:relative;
    top:98px;
    left:129px;
}
.latters_frase{
    font-size: 16px;
    font-weight:280;

}
#frase_1{
    left:200px;
    height:90px;
    position:relative;
    top:140px;
    left:131px;
}
#frase_2{
    position:relative;
    top:140px;
    left:1100px;
}
#about_link_header{
    font-size: 18px;
    font-weight:330;
    position:relative;
    top:-30px;
    left:1070px;
    color:black;
}
hr{
    width: 250px;
}